# Resume Parser

## ABSTRACT

In this notebook we have parsed the resume to get the candidates name and the skills based on the skill list created. We have found the unigram and the bigrams and checked it with the skillset list. The output has been saved in the csv format.

**Lets see a sample resume that we have parsed.**

![](files/ss/sample-resume-1.png)

![](files/ss/sample-resume-2.png)

This is the sample resume which we have parsed to find the candidate name and the skills the candidate has. we have used four resume of different candidates having varied skillset to parse.

In [1]:
#importing the important libraries
import docx, os
import pandas as pd
from ast import literal_eval

Create a sample list of skills which we will use to find in each resume.

In [2]:
#creating a list of skills
skill=[]
skill.append('python')
skill.append('r')
skill.append('data mining')
skill.append('data analysis')
skill.append('data modeling')
skill.append('data visualization')
skill.append('hadoop')
skill.append('hive')
skill.append('tableau')
skill.append('power BI')
skill.append('sas')
skill.append('matlab')
skill.append('scala')
skill.append('pig')
skill.append('mapreduce')
skill.append('spark')
skill.append('hadoop')
skill.append('machine learning')
skill.append('statistics')
skill.append('excel')
skill.append('aws')
skill.append('azure')
skill.append('mongodb')
skill.append('sql')
skill.append('pl/sql')
skill.append('nosql')
skill.append('mysql')
skill.append('mssql')
skill.append('oracle')
skill.append('hbase')
skill.append('ms acess')
skill.append('dashboards')
skill.append('agile')
skill.append('innovator')
skill.append('critical thinking')
skill.append('docker')
skill.append('leader')
skill.append('master degree')
skill.append('java')
skill.append('big data')
skill.append('cassandra')
skill.append('qlik sense')
skill.append('qlik view')
skill.append('phd')
skill.append('bachelor degree')
skill.append('numpy')
skill.append('tensorflow')
skill.append('keras')
skill.append('pandas')
skill.append('sci-kit learn')
skill.append('matplotlib')
skill.append('seaborn')
skill.append('deep learning')
skill.append('classification')
skill.append('decision tree')
skill.append('clustering')
skill.append('regression')
skill.append('forcasting')
skill.append('kpi')
skill.append('linux')

Create a dataframe to store the name and skills from each resume.

In [3]:
#creating a dataframe to store the details of resume
final=pd.DataFrame(columns=['Name','Skills'],index=(range(10)))

In [4]:
#assigning the default vale to name column 
final['Name']= 'N'

In [5]:
#assigning the default value to skill column
final['Skills']='skillset'

The next method will be used to process the text by removing the punctuation marks and replace it by the blank space to prepare the text for finding the ngrams.

It first converts all the characters in the text to lowercases. After that, it replaces commas, forward slashes, brackets and full stops with single whitespaces. Finally, it uses the split function on the text to split words by spaces and returns the result.

In [6]:
# creating a method to process the text 
def process_text(text):
    
        text = text.lower()
        text = text.replace(',', ' ')
        text = text.replace('/', ' ')
        text = text.replace('(', ' ')
        text = text.replace(')', ' ')
        text = text.replace('.', ' ')
        text = text.replace('[', ' ')
        text = text.replace(']', ' ')
        text = text.replace('"', ' ')
                        
 # Convert text string to a list of words
        return text.split()

**WHAT IS N-GRAM?**

n-gram is a contiguous sequence of n items from a given sample of text or speech. The items can be phonemes, syllables, letters, words or base pairs according to the application. The n-grams typically are collected from a text or speech corpus. When the items are words, n-grams may also be called shingles.

The ngram method will take the word list(processed text) and on the basis n(1,2,3) it will find the ngrams and save in the ngrams_list. It will first convert the list into a string and then from the first word it will start finding the gram.

Upon receiving the input parameters, the generate_ngrams function declares a list to keep track of the generated n-grams. It then loops through all the words in words_list to construct n-grams and appends them to ngram_list.

When the loop completes, the generate_ngrams function returns ngram_list back to the caller.

-- pip install ngram

https://www.techcoil.com/blog/how-to-generate-n-grams-in-python-without-using-any-external-libraries/

![](files/ss/N-gram.png)

In [7]:
#create a method to count the ngrams of the text
def generate_ngrams(words_list, n):
    ngrams_list = []
 
    for num in range(0, len(words_list)):
        ngram = ' '.join(words_list[num:num + n])
        ngrams_list.append(ngram)
 
    return ngrams_list

In [8]:
word=[]

Next automate the script to read all the word files stored in a document.
We read each word file and then for each file, loop through all the paragarphs to find the cadidate name and the skills.

https://automatetheboringstuff.com/chapter13/

In [9]:
#changing the directory to the location where the sample resumes have been saved
os.chdir('cv')

In [10]:
# parsing the resume to find for all the words present in the skill list defined above
fullText=[]
#find all the files in the specified location
for filename in os.listdir('.'):
    #find all the files with '.docx'
    if filename.endswith('.docx'):
        doc = docx.Document(filename)
        i=0
        skillset=[]
        flat_list_one=[]
        two=[]      
        # for each paragraph in the document
        for para in doc.paragraphs:
            fullText.append(para.text) 
            
            #running the loop till it goes through all the paragraphs of the document
            while(i<len(doc.paragraphs)):
                a = doc.paragraphs[i].text
                a= a.lower()
                words = a.split()
                #finding the unigram words
                for item in skill:
                    for word in words:
                        if item == word:
                            if item not in skillset:
                                skillset.append(word)
                
                words_list = process_text(a)
                # finding the bigrams in the document
                bigrams = generate_ngrams(words_list, 2)
                two.append(bigrams)
                for sublist in two:
                    for item in sublist:
                        flat_list_one.append(item)
                for words in flat_list_one:
                    for items in skill:
                        if items == words:
                            if items not in skillset:
                                skillset.append(words)
                i=i+1
    
    k=0
    #assuming the first text in the document would be a resume, so finding the first not blank paragraph
    name= doc.paragraphs[k].text
    while(name is "" ):
            k=k+1
            name=doc.paragraphs[k].text         


    j = 0
    #assigning the name and the skills
    while(j<len(final)):
        if final['Name'][j] != name:
            if final['Name'][j]=='N':
                y = j
                final['Name'][y]= name
                final['Skills'][y]=skillset
                name=' '
                j=j+1
                break
            else:
                j=j+1
        else:
            j=j+1
            break
        
final

                     Name                                             Skills
0              AYUSH JAIN  [mongodb, sql, oracle, java, qlik sense, qlik ...
1  POOJITH SHANKAR SHETTY  [sql, oracle, java, aws, nosql, mongodb, machi...
2          Prashant Reddy  [python, oracle, machine learning, big data, a...
3           SHWETA PATHAK  [big data, data mining, sql, oracle, pl/sql, j...
4                       N                                           skillset
5                       N                                           skillset
6                       N                                           skillset
7                       N                                           skillset
8                       N                                           skillset
9                       N                                           skillset

In [12]:
#dropping the duplicate value in the dataframe
final=final.drop_duplicates(subset='Name',keep=False)

In [13]:
#display the dataframe
final

                     Name                                             Skills
0              AYUSH JAIN  [mongodb, sql, oracle, java, qlik sense, qlik ...
1  POOJITH SHANKAR SHETTY  [sql, oracle, java, aws, nosql, mongodb, machi...
2          Prashant Reddy  [python, oracle, machine learning, big data, a...
3           SHWETA PATHAK  [big data, data mining, sql, oracle, pl/sql, j...

In [15]:
#change back to the original directory
os.chdir('..')

In [16]:
#save the dataframe as the csv file
final.to_csv('resume_parser.csv', index = False)

## CONCLUSION

In this notebook we haved parsed through four sample resumes and stored the results of candidates name and skillset in the csv file. We used unigram and bigram to match the skill in the sample skills list.

## CONTRIBUTION

In this notebook we have written 90% of the code on our own. Where ever we have used the code from any location we have cited the source.

## LICENSE

This document is Licensed under the MIT license and is documented by Ayush Jain and Shweta Pathak.

https://opensource.org/licenses/MIT

MIT License

Copyright (c) 2019 Ayush Jain and Shweta Pathak

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.